.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
}

.perfilDropdown::before {
    border-width: 0 40px 40px 40px;
}

/* before:border-x-8 before:border-t-0 before:border-b-8 */